{% extends "base.html" %}
{% load static %}

{% block content %}
<body>
	<div class="container-fluid header">
		<div class="row content">
			<div class="col-sm-6 word text-center">
				<h1 class="first"><b>News About</b></h1>
				<h1 class="second"><b>Covid-19</b></h1>
			</div>
			<div class="col-sm-6 image text-center">
				<img class="imagevirus" src="{% static 'news/newsTitle.png' %}">
			</div>
		</div>
	</div>
	<br>

	<h2 class="newsTitle"><b>Lastest News</b></h2>

	<br>

	<div class="slideshow-container">

		<div class="mySlides">
		<img src="{% static 'news/news1.jpg' %}" style="width:100%">
		<div class="textNews"><a style="text-decoration: none;" href="https://covid19.go.id/p/berita/3m-dan-3t-untuk-putus-penularan-covid-19">3M dan 3T Untuk Putus Penularan Covid-19</a></div>
		</div>
		
		<div class="mySlides">
		<img src="{% static 'news/news2.jpg' %}" style="width:100%">
		<div class="textNews"><a style="text-decoration: none;" href="https://covid19.go.id/p/berita/jemaah-umrah-wajib-patuhi-pedoman-ibadah-masa-pandemi">Jemaah Umrah Wajib Patuhi Pedoman Ibadah Masa Pandemi</a></div>
		</div>
		
		<div class="mySlides">
		<img src="{% static 'news/news3.jpg' %}" style="width:100%">
		<div class="textNews"><a style="text-decoration: none;" href="https://covid19.go.id/p/berita/digitalisasi-majukan-umkm">Digitalisasi Majukan UMKM</a></div>
		</div>

		<div class="mySlides">
			<img src="{% static 'news/news4.jpg' %}" style="width:100%">
			<div class="textNews"><a style="text-decoration: none;" href="https://covid19.go.id/p/berita/kasus-aktif-covid-19-di-indonesia-lebih-rendah-dibandingkan-negara-lain">Kasus Aktif Covid-19 di Indonesia Lebih Rendah Dibandingkan Negara Lain</a></div>
		</div>

		<div class="mySlides">
			<img src="{% static 'news/news5.jpg' %}" style="width:100%">
			<div class="textNews"><a style="text-decoration: none;" href="https://covid19.go.id/p/berita/vaksin-meningkatkan-imunitas-tubuh">Vaksin Meningkatkan Imunitas Tubuh</a></div>
		</div>
		
		<a class="prev" onclick="plusSlides(-1)">&#10094;</a>
		<a class="next" onclick="plusSlides(1)">&#10095;</a>
		
	</div>
		<br>
		
		<div style="text-align:center">
		<span class="dot" onclick="currentSlide(1)"></span> 
		<span class="dot" onclick="currentSlide(2)"></span> 
		<span class="dot" onclick="currentSlide(3)"></span> 
		<span class="dot" onclick="currentSlide(4)"></span> 
		<span class="dot" onclick="currentSlide(4)"></span>
		</div>


	<br>
	<script type="text/javascript">
		var slideIndex = 1;
		showSlides(slideIndex);
		
		function plusSlides(n) {
		showSlides(slideIndex += n);
		}
		
		function currentSlide(n) {
		showSlides(slideIndex = n);
		}
		
		function showSlides(n) {
		var i;
		var slides = document.getElementsByClassName("mySlides");
		var dots = document.getElementsByClassName("dot");
		if (n > slides.length) {slideIndex = 1}    
		if (n < 1) {slideIndex = slides.length}
		for (i = 0; i < slides.length; i++) {
			slides[i].style.display = "none";  
		}
		for (i = 0; i < dots.length; i++) {
			dots[i].className = dots[i].className.replace(" active", "");
		}
		slides[slideIndex-1].style.display = "block";  
		dots[slideIndex-1].className += " active";
		}
	</script>

	<h2 class="newsComment"><b>Comment</b></h2>
	<br>
	{% if user.is_authenticated %}
	<div class="form-group">
		<form action="" method="post" id="userComment">
			{% csrf_token %}
			<label>Name</label>
			<input type="text" id="name" name="name" class="form-control">

			<label>Comment</label>
			<input type="text" id="comment" name="comment" class="form-control">
			<br>
			<input type="submit" value="Submit" class="btn btn-outline-dark btn-blue">
			
		</form>
	</div>
	{% else %}
	<h1 class="newsTitle"><b>Please login to make a comment</b></h1>
	{% endif %}

	<script type="text/javascript">
		$(document).ready(function(){
			$(document).on('submit', 'userComment', function(e){
				e.preventDefault();

				$.ajax({
					type:'POST',
					url: '/news/',
					data: {
						name: $('#name').val(),
						comment: $('#comment').val(),
						csrfmiddlewaretoken:$('input[name=csrfmiddlewaretoken]').val(),
					},
					success:function(){}
				})
			});
			$("input").focus(function(){
				$(this).css("background-color", "white");
			});
			$("input").blur(function(){
				$(this).css("background-color", "rgba(137, 222, 226, 0.3)");
			});
			
		});

	</script>


	{%for i in commentaries %}
	<div class="roundedBorder">
		<h3 class="commenter"> {{ i.name }}</h3>
		<p class="comment"> {{ i.comment}}</p>
		<p class="comment2"> {{i.date }}</p>
	</div>
	<br>
	{% endfor %}

	<br>
	
</body>
{% endblock content %}