.header {
  background-color: rgba(137, 222, 226, 0.3);
  padding-top: 5%;
  padding-bottom: 5%;
}
.header .word {
  margin-top: auto;
  margin-bottom: auto;
  color: #8AE0E4;
  font-weight: 100%;
  font-style: Open Sans;
}
.header .word .first {
  font-size: 370%;
}
.header .word .second {
  font-size: 370%;
}
.header .image {
  margin-top: auto;
  margin-bottom: auto;
}
.header .image .imagevirus {
  width: 45%;
}
.header .image .imageviruspreventions {
  width: 35%;
}
.header .image .imagestat {
  width: 55%;
}

.isi {
  background-color: #fff;
}
.isi .imageisi .imagedokter {
  padding-top: 5%;
  padding-bottom: 5%;
  width: 45%;
}
.isi .textisi {
  padding-right: 8%;
  text-align: left;
  padding-top: 5%;
  padding-bottom: 5%;
}
.isi .textisi .whatis {

  color: #16C2D5;
  font-size: 300%;
  font-style: Open Sans;
}
.isi .textisi .isiconten {
  color: #527C88;
  font-size: 250%;
  font-style: Open Sans;
}


.isi .statjudul{
  color: #16C2D5;
  font-size: 300%;
  padding-top: 5%;
  padding-bottom: 0.5%;
  font-style: Open Sans;
}

.isi .stat{
  color: #16C2D5;
  font-size: 200%;
  padding-top: 2%;
  font-style: Open Sans;
}

.isi .pict{
  padding-top: 2%;
}

.daftar {
  background-color:rgba(137, 222, 226, 0.3);
  padding-bottom: 3%;
}

.navbar {
  margin-bottom: 0;
  background-color: #89DEE2;
  z-index: 9999;
  border: 0;
  font-size: 12px !important;
  line-height: 1.42857143 !important;
  letter-spacing: 4px;
  border-radius: 0;
  font-style: Open Sans;
}
.navbar li a, .navbar .navbar-brand {
  color: #fff !important;
}
.navbar-nav li a:hover, .navbar-nav li.active a {
  color:  #89DEE2 !important;
  background-color: #fff !important;
}
.navbar-default .navbar-toggle {
  border-color: transparent;
  color: #fff !important;
}
.footer { 
  background-color: #89DEE2;
}
table {
  padding-top: 15px;
  border-collapse: separate;
  border-spacing: 0;
}
tbody {
  display: table-row-group;
  vertical-align: middle;
  border-color: inherit;
}
td {
  empty-cells: show;
  vertical-align: top;
  text-align: left;
}
.info_name{
  color: #527C88;
  padding: 0 24px 5px 0;
  font-size: 16px;
}
.info_text{
  padding: 0 24px 1px 0;
  font-size: 14px;
}
.newsTitle{
  padding-top: 1%;
  padding-bottom: 2%;
  color:  #89DEE2;
  font-size: 250%;
  font-style: Open Sans;
  text-align: center;
}
.newsComment{
  font-size: 300%;
  color: #8AE0E4;
}
* {box-sizing: border-box}
.mySlides {
  display: none;
  border : 1px;
  padding : 4% 4% 11% 4%;
  background-color:  rgba(137, 222, 226, 0.3);
}
img {vertical-align: middle;}

/* MAP */

.header .image .imagemap {
  width: 45%;
}

.map {
  padding-top: 2%;
  padding-bottom: 2%;
  padding-left: auto;
  padding-right: auto;
  margin-left: 10%;
  margin-right: 10%;
}

.isi .hotlines {
  padding-top: 1%;
  padding-bottom: 2%;
  color:  #89DEE2;
  font-size: 250%;
  font-style: Open Sans;
  text-align: center;
}

.headermap {
  background-color: rgba(137, 222, 226, 0.3);
  padding-top: 3%;
  padding-bottom: 5%;
  padding-left: 5%;
}

.isi .feed {
  color: #527C88;
  font-style: Open Sans;
  text-align: left;
}

.cardfeedback {
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  transition: 0.3s;
  width: 40%;
  border-radius: 5px;
  margin: 0 auto; /* Added */
  float: none; /* Added */
  margin-bottom: 10px; /* Added */
  
}

.cardfeedback:hover {
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

.containercard {
  padding: 2px 16px;
}


/* Slideshow container */
.slideshow-container {
  max-width: 80%;
  position: relative;
  margin: auto;
}

/* Next & previous buttons */
.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  padding: 16px;
  margin-top: -22px;
  color :  #89DEE2;
  font-weight: bold;
  font-size: 100%;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover, .next:hover {
  background-color: white;
}

/* Caption text */
.textNews {
  color: #89DEE2 ;
  font-size: 225%;
  padding: 5px 1% 8px 1%;
  position: absolute;
  width: 90%;
  text-align: center;
  font-weight: bold;
  font-style: Open Sans;
}



/* The dots/bullets/indicators */
.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active, .dot:hover {
  background-color: #717171;
}

/* Fading animation */
.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
}

.roundedBorder {
  border-radius: 25px;
  border : 1px solid #89DEE2;
  padding-left: 10px;
  width : 100%;
  height : 25%;
}

.commenter {
  font-family: open sans;
  color: #89DEE2;
  font-weight: bold;
}
.comment {
  font-family: open sans;
  font-size: 16px;
}
.comment2 {
  font-family: open sans;
  font-size: 11px;
}
.class {
  background-color: #89DEE2;
}


@-webkit-keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}

@keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}

/* On smaller screens, decrease text size */
@media screen and (max-width: 400px) {
  .prev, .next,.textNews {font-size: 10px}
}

.btn-blue{
  background-color: #89DEE2
}
.form-p{
  margin-bottom: auto;
  margin-left: 15%;
  margin-right: 15%;
  margin-bottom: 10%;
}
.name-p{
  font-style: Open Sans;
  font-size: 14px;
  font-weight: bold;
  text-align: right;
}
.name-thx{
  font-style: Open Sans;
  font-size: 18px;
  font-weight: bold;
  text-align: right;
}
.message-p{
  font-style: Open Sans;
  font-size: 16px;
  text-align: left;
}
.border-p {
  border-radius: 5px;
  border : 2px solid #89DEE2;
  padding-right: 10px;
  padding-left: 10px;
  margin-bottom: 10%;
  width : 100%;
  height : 25%;
}
.form-p1{
  background-color: rgba(137, 222, 226, 0.3);
}

.card-form {
  width: 400px;
  background: #89DEE2;
  margin-bottom: 3%;
  padding: 10px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  -webkit-box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  -moz-box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  border-radius: 5px;
}

#form-title {
  font-style: Open Sans;
  font-size: 30px;
  text-align: center;
  color:  #8AE0E4;
  font-weight: bold;
}

.myimg {
  width: 200px;
  height: auto;
  border-radius: 15px;
  padding: 10px;
}

.form-p2{
  margin-bottom: auto;
  margin-left: 15%;
  margin-right: 15%;
  margin-bottom: 10%;
}