{% extends 'base.html' %}
{% load static %}


{% block content %}
<body style="text-align:center; background-color: #ffffff;">            
    </div>
    <div class="right-page col" >
        {% if user.is_authenticated == False %}
        <div class="login content mx-7 my-5">
            {% if messages %}
                {% for message in messages %}
                    <p>{{message}}</p>
                {% endfor %}
            {% endif %}
        </div>
    <div class="container-fluid isi text-center" style="background-color: rgba(137, 222, 226, 0.3);">
        <h3 class="margin statjudul text-center">Login Account</h3><br>
        <div class="row" align="center">
            <div class="card-form">
                <div class="login-form">
                    <div class="form-group text-left">
                        <form method="POST">
                            {% csrf_token %}
                            {{ form.as_p }}
                            <input type="submit" value="Login" class="btn btn-outline-dark">
                        </form>
                    </div>
                </div>
                {% else %}
                    <div class="success mt-5 ml-5">

                        <br>
                        <br>
                        <div class="greeting mt-5">
                            <h3>Welcome,</h3>
                            <h1 style="font-weight: 800px;"><span class="highlight">{{user.username}}</span></h1>
                        </div>
                        <br>
                    </div>
                    <div class="btn-logout">
                        <form action="login/logout">
                            <input type="submit" value="Log out">
                        </form>
                    </div>
                {% endif %}
                </div>
            </div>
            <div class="row" align="center">
                <h4>Don't have an account? <a class="sign-up-in-link" href="/signup/"><strong><b>Sign Up</b></strong></a></h4>
                <br><br>
            </div>
        </div>
    </div>
</body>
 

{% endblock %}
