{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
  <title>ByeCorona</title>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.0/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
  <link rel="stylesheet" href="{% static 'css/style.css' %}">
  {% block meta %}
  {% endblock meta %}
</head>

<body>
  <!-- Navbar -->
  <nav class="navbar navbar-default">
    <div class="container-fluid">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>                        
        </button>
        <a class="navbar-brand" href="/">ByeCorona</a>
      </div>
      {% if user.is_authenticated %}
      <div class="collapse navbar-collapse" id="myNavbar">
        <ul class="nav navbar-nav navbar-right">
          <li><a href="/">HOME</a></li>
          <li><a href="/news">NEWS</a></li>
          <li><a href="/infografis">INFOGRAPHIC</a></li>
          <li><a href="/preventions">PREVENTIONS</a></li>
          <li><a href="/peta/">MAPS</a></li>
          <li><a>HELLO! {{user.username}}</a></li>
          <li><a href="/login/logout">LOG OUT</a></li>
        </ul>
      </div>
      {% else %}
      <div class="collapse navbar-collapse" id="myNavbar">
        <ul class="nav navbar-nav navbar-right">
          <li><a href="/">HOME</a></li>
          <li><a href="/news">NEWS</a></li>
          <li><a href="/infografis">INFOGRAPHIC</a></li>
          <li><a href="/preventions">PREVENTIONS</a></li>
          <li><a href="/peta/">MAPS</a></li>
          <li><a href="/login">LOG IN</a></li>
          <li><a href="/signup">SIGN UP</a></li>
        </ul>
      </div>
      {% endif %}
    </div>
  </nav>
{% block content %}
{% endblock content %}
<footer class="container-fluid footer text-center">
  <table>
    <tbody>
        <tr>
            <td class="info_name">Helpful Links</td>
            <td class="info_name">Resouces</td>
        </tr>
        <tr>
          <td class="info_text"><a href="https://covid19.go.id/">covid19.go.id</a></td>
          <td class="info_text"><a href="https://www.who.int/">WHO Website</a></td>
        </tr>
        <tr>
          <td class="info_text"><a href="https://corona.jakarta.go.id/id">corona.jakarta.go.id</a></td>
          <td class="info_text"><a href="https://www.kemkes.go.id/">Kemenkes RI</a></td>
        </tr>
        <tr>
          <td class="info_text"><a href="https://bnpb-inacovid19.hub.arcgis.com/">BNPB</a></td>
        </tr>  
    </tbody>
  </table>
  <p>Copyright 2020 Right Reserved</p>
</footer>
</body>
  
</html>
