{% extends 'base.html' %}
{% load static %}

{% block content %}
<!-- Header -->
<div class="container-fluid header">
    <div class="row content">
        <div class="col-sm-6 word text-center">
            <h1 class="first"><b>Infographic</b></h1>
            <h1 class="second"><b>Covid-19</b></h1>
        </div>
        <div class="col-sm-6 image text-center">
            <img class="imagestat" src="{% static 'img/pngwing1.png' %}">
        </div>
    </div>
</div>

<!-- Isi -->
<div class="container-fluid isi text-center">   
    <h3 class="margin statjudul">Statistic of Covid-19 in Indonesia</h3><br>
    <div class="infctd_">
      <img class="pict" src="{% static 'img/Infected.png' %}">
        <p class="stat">Infected</p>
        <div class="crfm"></div>
    </div>
    <div class="rcvr_">
      <img class="pict" src="{% static 'img/Health.png' %}">
        <p class="stat">Recovery</p>
        <div class="rcvr"></div>
    </div>
    <div class="dth_">
      <img class="pict" src="{% static 'img/Death.png' %}">
              <p class="stat">Death</p>
              <div class="dth"></div>
    </div>
</div>
<script>
  $(document).ready(function(){
    $(".pict").mouseenter(function(){
      $(".pict").css("width", 155);
    });
    $(".pict").mouseleave(function(){
      $(".pict").css("width", 105);
    });
  });

  $.ajax({
      url: '/ambilData/',
      success: function(ambilData){
        var data_cov = ambilData
        console.log(data_cov);
        var confirm = data_cov[0].confirmed
        var dth = data_cov[0].deaths
        var rcvr = data_cov[0].recovered
        $(".crfm").append("<h3>"+confirm+"</h3>");
        $(".rcvr").append("<h3>"+rcvr+"</h3>");
        $(".dth").append("<h3>"+dth+"</h3>");
      }
    });

</script>
{% endblock content %}