{% extends 'base.html' %}
{% load static %}
{% load crispy_forms_tags %}

{% block meta %}
{% endblock meta %}

{% block content %}
<div class="container-fluid signup" style="background-color: rgba(137, 222, 226, 0.3);">
    <h3 id="form-title">REGISTER ACCOUNT</h3>
    <form method="POST" action="">
        {% csrf_token %}
        {{ form|crispy }}
        <div class="d-flex justify-content-center mt-3 login_container" >
            <input type="submit" value="Register Account">
        </div>
    </form>
    <div class="mt-4">
        <div class="d-flex justify-content-center links">
            Already have an account? <a href="/login/" class="ml-2" style="font-style: Open sans;">Login</a>
        </div>
    </div>
</div>
        
<script>
    var form_fields = document.getElementsByTagName('input')
    form_fields[1].placeholder='Username';
    form_fields[2].placeholder='Email';
    form_fields[3].placeholder='Enter password';
    form_fields[4].placeholder='Re-enter Password';
    
    for (var field in form_fields){	
        form_fields[field].className += ' form-control'
    }
</script>
{% endblock content %}